{% extends 'partsdatabase/componets/base.html' %}
{% block title %}Log Form{% endblock %}
{% block body %}
    <section class="container">
        <div class="mb-4">
        </div>
        <h1>Log Form</h1>
        <hr>
        <div class="col-10 mx-auto pt-5 mb-5 pb-5">
                <form method="POST">
                    {%  csrf_token %}
                    {% for field in form.hidden_fields %}
                        {{ field }}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                        <div class="control-form mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label fw-semibold fs-5">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <div class="mt-5">
                        <button type="submit" class="btn btn-primary btn-lg px-3 fs-3">Submit</button>
                    </div>
                </form>
            </div>
    </section>
{%  endblock %}